.container {
  padding-left: 15px;
  padding-right: 15px;
}
body, html, #sidebar{
  height: 100%;
}
h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  border: 1px solid #efd;
  background-color: rgba(0,0,0,0);
  border: 1px solid #ecf0f1;
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
.list-group-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#inputFile, #saveButton, #nextButton {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
#topBar {
  height: 140px;
}
.selected {
  background-color: yellow;
}
.imgTile  {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
.generatingZip {
  background-image: url("assets/images/loading_bar.gif");
  background-repeat: repeat-x;
  background-size: 100% 20px;
}