.container {
  padding-left: 15px;
  padding-right: 15px;
}

body, html, #sidebar{
  height: 100%;
}

h4 {
  margin-top: 25px;
}

.row {
  margin-bottom: 20px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  background-color: rgba(ff,ff,ff,1);
  border: 1px solid rgba(0,0,0,0.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.list-group-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#inputFile, #saveButton, #nextButton {
  width: 100%;
  margin-bottom: 10px;
}

#topBar {
  height: 140px;
}